<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.simonbaars.com/GoLDSL"
			class = "com.simonbaars.goLDSL.GoLDSLPackage"
			genModel = "model/generated/GoLDSL.genmodel" />
	</extension>
</plugin>
